# macOS
.DS_Store

# VS Code
.vscode/

# Python caches
__pycache__/
*.py[cod]

# Data & outputs
/data/*.csv
/experiments/
.DS_Store
.vscode/
__pycache__/

# Cache and lock files
*.lock
*.sqlite

# Jupyter checkpoints
notebooks/.ipynb_checkpoints/
